
<div>
  <%= link_to "Back to jobs at #{@company.name}", company_jobs_path %>
  <%= link_to 'Edit', edit_company_job_path(@company, @job) %>
  <%= link_to 'Delete', company_job_path(@company, @job), method: 'delete' %>
</div>

<h2><%= @job.title %> at <%= @company.name %></h2>
<ul>
  <li>Title: <%= @job.title %></li>
  <li>Description: <%= @job.description %></li>
  <li>Level of Interest: <%= @job.level_of_interest %></li>
  <li>City: <%= @job.city %></li>
  <li>Company: <%= link_to @job.company.name, company_path(@job.company) %></li>
</ul>